.conteiner{
    position: fixed;
    top: 7.4%;
    left: 0;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}

.conteiner_painel,
.conteiner_financas,
.conteiner_vendas,
.conteiner_compras,
.conteiner_rh,
.conteiner_fiscal,
.conteiner_mais{
    margin-left: 34px;
    width: 12%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 12px;
    border: 2px solid #2B97FA;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease, transform 0.3s ease;
}

.conteiner_painel:hover,.conteiner_financas:hover,
.conteiner_vendas:hover,.conteiner_compras:hover,
.conteiner_rh:hover,.conteiner_fiscal:hover,
.conteiner_mais:hover,.conteiner_painel:focus,
.conteiner_financas:focus,.conteiner_vendas:focus,
.conteiner_compras:focus,.conteiner_rh:focus,
.conteiner_fiscal:focus,.conteiner_mais:focus{
  transform: scale(1.10);
  font-weight: bolder;
  background-color: #2B97FA;
}

.conteiner_painel img,
.conteiner_financas img,
.conteiner_vendas img,
.conteiner_compras img,
.conteiner_rh img,
.conteiner_fiscal img,
.conteiner_mais img{
    width: 45px;
    background-color: black;
    border-radius: 10px;
}

.conteiner_painel.active,
.conteiner_financas.active,
.conteiner_vendas.active,
.conteiner_compras.active,
.conteiner_rh.active,
.conteiner_fiscal.active,
.conteiner_mais.active{
    background-color: #2B97FA;
    cursor: pointer;
}