<div class="conteiner">
    <div class="conteiner_painel" routerLink="painel" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/painel-de-controle.png" alt="painel">
        <h1>PAINEL</h1>
    </div>

    <div class="conteiner_financas" routerLink="financas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/bolsa-de-dinheiro.png" alt="financas">
        <h1>FINANÇAS</h1>
    </div>

    <div class="conteiner_vendas" routerLink="vendas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/receita.png" alt="vendas">
        <h1>VENDAS</h1>
    </div>

    <div class="conteiner_compras" routerLink="compras" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/bolsa-de-compras.png" alt="compras">
        <h1>GASTOS</h1>
    </div>

    <div class="conteiner_rh" routerLink="recursosH" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
        <img src="assets/recursos-humanos.png" alt="rh">
        <h1>RH</h1>
    </div>

    <div class="conteiner_fiscal" routerLink="fiscal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/distintivo-de-policia.png" alt="fiscal">
        <h1>FISCAL</h1>
    </div>

    <div class="conteiner_mais" routerLink="mais" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/mais.png" alt="mais">
        <h1>MAIS</h1>
    </div>

</div>