.conteiner {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 28px;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.conteiner_grafico {
    height: 7vw;
    min-height: 100px;
    width: 16%;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #050a30;
    border: 2px solid #2b97fa;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
    padding: 0 15px;
}

.conteudo-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    text-align: left;
    width: 55%;
    z-index: 2;
}

.conteiner_grafico h1 {
    color: #fff;
    font-size: clamp(14px, 1.3vw, 22px);
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
}

.conteiner_grafico h2 {
    color: gray;
    font-size: clamp(9px, 0.9vw, 11px); 
    margin: 0;      
    font-weight: 500;
}

/* Ajustado para comportar o container responsivo do ApexCharts */
.container-canvas {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}