.conteiner{
    height: 100%;
    width: 100%;
    display: flex;
}

.conteiner_entregas{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 22px;

}

.conteiner_entregas-finalizadas{
    margin-left: 25px;
}

.conteiner_entregas-finalizadas,
.conteiner_entregas-emAndamento,
.conteiner_entregas-atrasadas{
    height: 90%;
    width: 24%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0d0d1f;
    border: 2px solid #2b97fa;
}

.texto{
    align-self: flex-start;
    height: 100%;
    width: 50%;
}

.conteiner_entregas-finalizadas h1,
.conteiner_entregas-emAndamento h1,
.conteiner_entregas-atrasadas h1{
    color: #fff;
    font-weight: bolder;
    margin: 0;
    margin-left: 15px;
}

.conteiner_entregas-finalizadas p,
.conteiner_entregas-emAndamento p,
.conteiner_entregas-atrasadas p{
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    margin: 15px;
    margin-bottom: 30px;
}

.conteiner_entregas-finalizadas h2,
.conteiner_entregas-emAndamento h2,
.conteiner_entregas-atrasadas h2{
    color: darkgray;
    font-size: 21px;
    margin: 0;
    margin-left: 15px;
}

.topo {
    display: flex;
    justify-content: space-between; /* texto à esquerda, gráfico à direita */
    align-items: flex-start;
    width: 100%;
    height: 75%;
    border-radius: 15px;
}


.grafico{
    height: 100%;
    width: 50%;
}

.grafico1,
.grafico2,
.grafico3{
    height: 23%;
    width: 70%;
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 15px;
}

.grafico1{
        background-color: #2ef8a0;
}

.grafico2{
        background-color: #FFA300;
}

.grafico3{
        background-color: #CF0060;
}

.grafico1 h1{
    font-size: 150%;
    color: #1E5128;
}

.grafico2 h1{
    font-size: 150%;
    color: #3C0000;
}

.grafico3 h1{
    font-size: 150%;
    color: #4c0027;
}

.grafico1 img,
.grafico2 img,
.grafico3 img{
    margin-left: 10px;
    width: 25%;
}

.comparando,
.comparando2,
.comparando3{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    border-radius: 15px;
}

.comparando h1{
    color: #2ef8a0;
}

.comparando2 h1{
    color: #FFA300;
}
.comparando3 h1{
    color: #CF0060;
}

.comparando h2,
.comparando2 h2,
.comparando3 h2 {

    color: #fff;
    font-weight: bolder;
}

.conteiner_entregas-tempoTrabalhado{
    height: 90%;
    width: 20%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #0d0d1f;
    border: 2px solid #2b97fa;
}

.hora, .tempoTrabalhado {
    display: flex;
    align-items: baseline;
    margin-left: 10px;
}

.hora{
    margin-top: 10px;
}

.hora h1, .tempoTrabalhado h1{
    color: #fff;
    font-weight: bolder;
    margin: 0;
}

.hora h2, .tempoTrabalhado h2{
    color: #2b97fa;
    font-size: 26px;
    font-weight: bolder;
    margin: 0;
}

.hora h3, .tempoTrabalhado h3{
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
    margin-left: 10px;
    color: gray;
}