<div class="conteiner">
    <div class="conteiner_entregas">


        <div class="conteiner_entregas-finalizadas">
            <div class="topo">
                <div class="texto">
                    <p>41<p>
                    <h2>Total de vendas</h2>
                    <h1>Finalizadas</h1>
                </div>
                <div class="grafico">
                    <div class="grafico1">
                        <img src="assets/ascender.png" alt="">
                        <h1>7,48%</h1>
                    </div>
                </div>
            </div>
            <div class="comparando">
                <h1>+14</h1>
                <h2>comparado a semana anterior</h2>
            </div>
        </div>


        <div class="conteiner_entregas-emAndamento">
            <div class="topo">
                <div class="texto">
                    <p>14<p>
                    <h2>Total de vendas Em</h2>
                    <h1>Andamento</h1>
                </div>
                <div class="grafico">
                    <div class="grafico2">
                        <img src="assets/ascender.png" alt="">
                        <h1>4,48%</h1>
                    </div>
                </div>
            </div>
            <div class="comparando2">
                <h1>+14</h1>
                <h2>comparado a semana anterior</h2>
            </div>
        </div>


        <div class="conteiner_entregas-atrasadas">
            <div class="topo">
                <div class="texto">
                    <p>9<p>
                    <h2>Total de vendas</h2>
                    <h1>Atrasadas</h1>
                </div>
                <div class="grafico">
                    <div class="grafico3">
                        <img src="assets/ascender.png" alt="">
                        <h1>4,48%</h1>
                    </div>
                </div>
            </div>
            <div class="comparando3">
                <h1>-9</h1>
                <h2>comparado a semana anterior</h2>
            </div>
        </div>


        <div class="conteiner_entregas-tempoTrabalhado">
            <div class="hora">
                <h1>14:34</h1><h2>:36</h2><h3>Hora da tarde</h3>
            </div>
            <div class="tempoTrabalhado">
                <h1>05:34</h1><h2>:36</h2><h3>Tempo Trabalhado</h3>
            </div>
        </div>


    </div>
</div>