<div class="dashboard-wrapper">
  
  <div class="row-kpis">
    <app-cards-kpi></app-cards-kpi>
  </div>

  <div class="row-charts">
    <div class="col-chart-main">
      <app-chart-evolucao></app-chart-evolucao>
    </div>
    <div class="col-form-side">
      <app-novo-gasto></app-novo-gasto>
    </div>
  </div>

  <div class="row-bottom-group">
    <div class="col-table">
      <app-tabela-pedidos></app-tabela-pedidos>
    </div>
    <div class="col-status">
      <app-chart-status></app-chart-status>
    </div>
  </div>

</div>