<div class="dashboard-wrapper">
  
  <div class="row-kpis">
    <app-cards-kpi></app-cards-kpi>
  </div>

  <div class="row-charts">
    <div class="col-chart-main">
      <app-chart-evolucao></app-chart-evolucao>
    </div>
    
    <div class="col-form-side">
      <div class="tabs-container">
        <button [class.active]="abaAtiva === 'gasto'" (click)="abaAtiva = 'gasto'">Gasto Geral</button>
        <button [class.active]="abaAtiva === 'compra'" (click)="abaAtiva = 'compra'">Compra Produto 📦</button>
      </div>
      
      <div class="tab-content">
        <app-novo-gasto *ngIf="abaAtiva === 'gasto'"></app-novo-gasto>
        <app-compra-produto *ngIf="abaAtiva === 'compra'"></app-compra-produto>
      </div>
    </div>
  </div>

  <div class="row-bottom-group">
    <div class="col-table">
      <app-tabela-pedidos></app-tabela-pedidos>
    </div>
    <div class="col-status">
      <app-chart-status></app-chart-status>
    </div>
  </div>

</div>