<div class="conteiner"> 
    <header class="conteiner_header">
        <app-menu-bar></app-menu-bar>
    </header>

    <div class="conteiner_opcoes">
        <app-opcoes></app-opcoes>
    </div>
    
    <div class="conteiner_menuFixo">
        <app-menu-fixo 
            (onToggleMenu)="aoMudarMenu($event)"
            (onAbrirChat)="cardChat.abrir()"
            (onAbrirCadastro)="cardCadastro.abrir()">
        </app-menu-fixo>
    </div>

    <div class="conteiner_conteudo" [class.expandido]="!menuAberto">
        
        <router-outlet></router-outlet>
    </div>
</div>

<app-card-flutuante #cardChat titulo="Mensagens">
    <app-chat-component></app-chat-component>
</app-card-flutuante>

<app-card-flutuante #cardCadastro titulo="Cadastro">
    <app-cadastro-geral></app-cadastro-geral>
</app-card-flutuante>