<div class="conteiner"> 
    <header class="conteiner_header">
        <app-menu-bar></app-menu-bar>
    </header>

    <div class="conteiner_opcoes">
        <app-opcoes></app-opcoes>
    </div>
    
    <div class="conteiner_menuFixo">
        <app-menu-fixo (onToggleMenu)="aoMudarMenu($event)"></app-menu-fixo>
    </div>

    <div class="conteiner_conteudo" [class.expandido]="!menuAberto">
        <button (click)="abrirCard()">Abrir Card Flutuante</button>
        
        <router-outlet></router-outlet>
    </div>
</div>

<app-card-flutuante 
    [exibir]="mostrarModal" 
    titulo="Título do Card" 
    (aoFechar)="mostrarModal = false">
    
    <div class="meu-conteudo-personalizado">
        <h3>Bem-vindo ao Card!</h3>
        <p>Este conteúdo é dinâmico e reutilizável.</p>
        </div>

</app-card-flutuante>