.conteiner{
    background-color: #000117;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.conteiner_conteudo{
    width: 85%;
    height: 82%;
    position: fixed;
    right: 0;
    bottom: 0;
    border-top: 2px solid #2B97FA;
}
