<div class="conteiner"> 
    <header class="conteiner_header"><app-menu-bar></app-menu-bar></header>

    <div class="conteiner_opcoes"><app-opcoes></app-opcoes></div>
    
    <div class="conteiner_menuFixo">
        <app-menu-fixo 
            (onToggleMenu)="aoMudarMenu($event)"
            (onAbrirChat)="cardChat.abrir()"
            (onAbrirCadastro)="cardCadastro.abrir()">
        </app-menu-fixo>
    </div>

    <div class="conteiner_conteudo" [class.expandido]="!menuAberto">
        <router-outlet></router-outlet>
    </div>
</div>

<app-card-flutuante #cardChat titulo="Mensagens">
    <app-chat-component></app-chat-component>
</app-card-flutuante>

<app-card-flutuante #cardCadastro titulo="Cadastro Geral">
    <app-cadastro-geral></app-cadastro-geral>
</app-card-flutuante>

<app-card-flutuante #cardFornecedor titulo="Cadastrar Novo Fornecedor">
    <app-cadastro-fornecedor-component (salvoComSucesso)="cardFornecedor.fechar()"></app-cadastro-fornecedor-component>
</app-card-flutuante>

<app-perfil></app-perfil>

<app-card-flutuante #cardProdutosDoFornecedor [titulo]="'Produtos de: ' + fornecedorSelecionadoNome">
  <app-produtos-fornecedor 
    *ngIf="fornecedorSelecionadoId"
    [fornecedorId]="fornecedorSelecionadoId" 
    [fornecedorNome]="fornecedorSelecionadoNome">
  </app-produtos-fornecedor>
</app-card-flutuante>

<app-card-flutuante #cardEdicaoProduto [titulo]="produtoSelecionado ? 'Alterar SKU: #' + produtoSelecionado.id : 'Alterar Produto'">
  <app-edicao-produto 
    *ngIf="produtoSelecionado" 
    [produto]="produtoSelecionado"
    (salvo)="onProdutoSalvo()">
  </app-edicao-produto>
</app-card-flutuante>