<div class="chart-status-card">
  <h1>Compras por Status</h1>
  
  <div class="chart-content">
    <div class="chart-graphic">
      <apx-chart
        *ngIf="chartOptions.series && chartOptions.series.length > 0"
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [colors]="chartOptions.colors"
        [dataLabels]="chartOptions.dataLabels"
        [legend]="chartOptions.legend"
        [plotOptions]="chartOptions.plotOptions"
        [stroke]="chartOptions.stroke"
      ></apx-chart>
    </div>

    <div class="custom-legend">
      <div class="legend-item" *ngFor="let item of legendaCustomizada">
        <span class="bullet" [ngClass]="item.classeCss">{{ item.icone }}</span>
        <span class="label">{{ item.status }}</span>
        <span class="value">{{ item.quantidade }} ({{ item.porcentagem }}%)</span>
      </div>
    </div>
  </div>
</div>