.conteiner{
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
  background-color: #13A8FE;
}

p{
  color: #13A8FE;
  background-color: black;
}


/*.conteiner_img{

}

.conteiner_login{

}*/
