<div class="cadastro-container">
  
  <div *ngIf="roleLogado === 'ADMIN_DEV'">
    <h2>Dados da Nova Empresa</h2>
    <div class="form-group">
      <input [(ngModel)]="empresa.nomeFantasia" name="nomeFantasia" placeholder="Nome Fantasia">
      <input [(ngModel)]="empresa.cnpj" name="cnpj" placeholder="CNPJ (apenas números)">
      <select [(ngModel)]="empresa.plano" name="plano" class="custom-select">
        <option value="Basico">Plano Básico</option>
        <option value="Premium">Plano Premium</option>
      </select>
      
      <div class="file-upload">
        <label for="logoInput">Logo da Empresa:</label>
        <input id="logoInput" type="file" (change)="onFileSelected($event)" accept="image/*">
      </div>
    </div>
  </div>

  <h2>Dados do {{ roleLogado === 'ADMIN_DEV' ? 'Usuário Master' : 'Novo Colaborador' }}</h2>
  <div class="form-group">
    <div class="row-inputs">
      <input [(ngModel)]="usuario.nome" name="nome" placeholder="Nome">
      <input [(ngModel)]="usuario.sobrenome" name="sobrenome" placeholder="Sobrenome">
    </div>

    <input [(ngModel)]="usuario.login" name="login" placeholder="Login (E-mail)">
    <input [(ngModel)]="usuario.senha" name="senha" type="password" placeholder="Senha">
    
    <div class="row-inputs">
      <input [(ngModel)]="usuario.cpf" name="cpf" placeholder="CPF (Ex: 000.000.000-00)">
      <input [(ngModel)]="usuario.dataNascimento" name="dataNascimento" type="date" placeholder="Data de Nascimento">
    </div>

    <input [(ngModel)]="usuario.endereco" name="endereco" placeholder="Endereço Completo">
    <input [(ngModel)]="usuario.cargo" name="cargo" placeholder="Cargo">
    <input [(ngModel)]="usuario.matricula" name="matricula" placeholder="Matrícula">

    <input *ngIf="roleLogado === 'MASTER'" [(ngModel)]="usuario.tipoColaborador" name="tipoColaborador" placeholder="Tipo do Colaborador (Ex: CLT, Estágio)">

    <button class="btn-salvar" (click)="salvar()">Salvar Cadastro</button>
  </div>

</div>