@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.lista-container {
    padding: 10px;
    background: #050a30;
    border-radius: 16px;
    font-family: 'Inter', sans-serif;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 100%;
}

/* Topo e Busca */
.topo-tabela {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 10;
    margin-bottom: 25px;
}

.topo-tabela h1 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    margin: 10px 0 20px 20px;
    border-bottom: 3px solid #2b97fa;
    padding-bottom: 5px;
    display: inline-block;
}

.busca-box {
    background: #0a0e29;
    border-radius: 12px;
    padding: 10px 20px;
    border: 1px solid #1a2245;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    width: 300px;
}

.busca-box:focus-within {
    border-color: #00c3ff;
    box-shadow: 0 0 10px rgba(0, 195, 255, 0.2);
}

.busca-box input {
    background: transparent;
    border: none;
    color: white;
    outline: none;
    width: 100%;
    font-size: 0.9rem;
}

/* Tabela Estilo "Card" */
.tabela-estilizada {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
  border-spacing: 0 12px; /* Cria o espaço entre as linhas */
  margin-top: -12px; /* Ajusta o topo por causa do spacing */
}

.tabela-estilizada th {
  color: #fff;
  text-align: left;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 15px;
  border-bottom: 2px solid #2b97fa;
}

.tabela-estilizada td {
  padding: 18px 15px;
  color: #d1d5db;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

/* Arredondar as pontas de cada linha */
.tabela-estilizada tr td:first-child {
  border-radius: 12px 0 0 12px;
  border-left: 3px solid transparent; /* Para o efeito de hover */
}

.tabela-estilizada tr td:last-child {
  border-radius: 0 12px 12px 0;
}

/* Efeito de Hover na Linha Inteira */
.tabela-estilizada tr:hover td {
  background: rgba(255, 255, 255, 0.02);
  cursor: pointer;
}

.tabela-estilizada tr:hover td:first-child {
  border-left-color: #00c3ff; /* Linha azul acende no início */
}

/* Badges Estilizados */
.badge {
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(40, 167, 69, 0.15);
  color: #28a745;
  border: 1px solid rgba(40, 167, 69, 0.3);
}

.badge.low {
  background: rgba(220, 53, 69, 0.15);
  color: #dc3545;
  border: 1px solid rgba(220, 53, 69, 0.3);
}