<div class="conteiner">
    <div class="conteiner_nav-item" routerLink="painel" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/painel-de-controle.png" alt="painel">
        <h1>PAINEL</h1>
    </div>

    <div class="conteiner_nav-item" routerLink="financas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/bolsa-de-dinheiro.png" alt="financas">
        <h1>FINANÇAS</h1>
    </div>

    <div class="conteiner_nav-item" routerLink="vendas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/receita.png" alt="vendas">
        <h1>VENDAS</h1>
    </div>

    <div class="conteiner_nav-item" routerLink="compras" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/bolsa-de-compras.png" alt="compras">
        <h1>GASTOS</h1>
    </div>

    <div class="conteiner_nav-item" routerLink="recursosH" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
        <img src="assets/recursos-humanos.png" alt="rh">
        <h1>RH</h1>
    </div>

    <div class="conteiner_nav-item" routerLink="fiscal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/distintivo-de-policia.png" alt="fiscal">
        <h1>FISCAL</h1>
    </div>
    
    <div class="conteiner_nav-item" routerLink="estoque" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/armazem.png" alt="estoque">
        <h1>ESTOQUE</h1>
    </div>

    <div class="conteiner_nav-item" routerLink="mais" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/mais.png" alt="mais">
        <h1>MAIS</h1>
    </div>

    
</div>